@import "bootstrap/bootstrap.scss";

/*
    Variables
*/
$navbar-height:     80px;

/* 
    Functions
*/
@for $i from 1 through 25 {
    .spacing-#{$i} {
        margin-top: #{$i}px;
    }
}

@for $i from 1 through 25 {
    .extra-width-#{$i} {
        width: #{$i}px;
    }
}

/*
    General styling
*/
html,body {
    padding:    0;
    margin:     0;
    height:     100%;
}

body {
    background:     #282C34;
    font-family:    'Open Sans', sans-serif;
}

label {
    color:      white;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=number] {
    border-color:       black;
    background-color:   #424549;
    color:              white;

    &:active, &:focus {
        border-color:       black;
        background-color:   #424549;
        color:              white;
    }
}

select {
    &.form-control {
        background-color:   #424549;
        border-color:       black;
        color:              white;

        &:active, &:focus {
            background-color:   #424549;
            border-color:       black;
            color:              white;
        }
    }
}

.btn, input[type=text], input[type=password], input[type=number], select.form-control {
    border-radius: 0;
}

.btn {
    &.btn-custom-dark {
        background-color:   #181A1F;
        color:              white;
        border-color:       black;

        &:hover, &:focus, &:active {
            background-color:   #0E0F12;
            color:              white;
            border-color:       black;
        }
    }
}

.navbar-custom-dark {
    background-color:   #1E2124;
    color:              white;
    border-color:       black;
    margin-bottom:      5px;

    .navbar-brand {
        color: white;

        &:hover, &:focus, &:active {
            color: white;
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                &.active {
                    .nav-link {
                        color: $blue;
                        border-bottom: 1px solid $blue;
                    }
                }

                .nav-link {
                    &:hover {
                        color: $blue;
                        border-bottom: 1px solid $blue;
                    }

                    border-bottom: 1px solid #1E2124;

                    color: white;
                }
            }
        }
    }

    #errorButton {
        &.errorHidden {
            display: none;
        }
    }
}

.importantText {
    color: red;
}

.normalText {
    color: rgb(213, 207, 23);
}

.clientText {
    color: rgb(115, 115, 201);
}

.tab-pane {
    padding: 7px;
    color: white;
    background-color: #1E2124;
    border: 1px solid black;
}

.bottomButtonGroup {
    position: fixed;
    bottom: 0;
    margin: 3px;
}

.createLobbyError {
    display: none;

    &.alert {
        &.alert-danger {
            background-color:   rgb(255, 0, 0);
            background-color:   rgba(255, 0, 0, 0.4);

            color:              white;
            border-color:       black;

            code {
                background-color: white;
                padding: 3px;
            }
        }
    }
}

#menu {
    border-color: black; 

    li {
        a {
            color: white;

            &:hover {
                font-weight:        bold;
                background-color:   #1E2124;
                border-color:       black;
            }

            &.active {
                font-weight:        bold;
                background-color:   #1E2124;
                border-color:       black;
            }
        }
    }
}

.existingGames, .vertical-align-table {
    tr {
        td {
            vertical-align: middle;
        }
    }
}

.chatBlock {
    position:           absolute;
    background-color:   #1E2124;
    height:             80%;
    width:              100%;
    padding:            15px;

    .chatArea {
        position:           absolute;
        background-color:   #3D434F;
        color:              white;

        width:              calc(100% - 30px); 
        height:             calc(100% - 80px);

        padding:            5px;
        overflow-y:         scroll;
    }

    .chatInput {
        position:   absolute;
        bottom:     0;
        width:      calc(100% - 30px);
    }
}