<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name="robots" content="noindex, nofollow">

        <title>Referee</title>

        <link rel="shortcut icon" href="./resources/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
        <link href="./resources/css/style.css" rel="stylesheet" />
        <link rel="shortcut icon" type="image/png" href="./resources/favicon.png"/>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-custom-dark">
            <a class="navbar-brand" href="./index.html">Referee panel</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarGlobal">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarGlobal">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./settings.html">Settings</a>
                    </li>

                    <li id="errorButton" class="nav-item errorHidden">
                        <a class="nav-link" href="./errors.html"><span id="errorCount">Errors</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-5" style="margin-right: 15px;">
                    <div class="chatBlock">
                        <div class="chatArea">

                        </div>
        
                        <div class="input-group mb-3 chatInput">
                            <input id="messageToBeSend" type="text" class="form-control" placeholder="message...">

                            <div class="input-group-append">
                                <button id="sendMessage" class="btn btn-custom-dark" type="button">Send</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" style="height: 100%; overflow-y: scroll">
                    <div class="row">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <label id="scoreLabelTeamOne" for="scoreLabelTeamOne">Score team 1</label>
                                    <input id="scoreTeamOne" type="number" class="form-control" placeholder="0" value="0" />
                                </div>
        
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <label id="scoreLabelTeamTwo" for="scoreLabelTeamTwo">Score team 2</label>
                                    <input id="scoreTeamTwo" type="number" class="form-control" placeholder="0" value="0" />
                                </div>
                            </div>
        
                            <div class="spacing-5"></div>
        
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input id="currentScoreText" type="text" class="form-control" value="Current score: {{teamOneName}} : {{scoreTeamOne}} | {{scoreTeamTwo}} : {{teamTwoName}}" />
                                        
                                        <div class="input-group-append">
                                            <button id="sendCurrentScore" class="btn btn-custom-dark" type="button">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="spacing-5"></div>

                            <ul class="nav nav-tabs" id="menu">
                                <li class="nav-item">
                                    <a class="nav-link active" id="messages-tab" data-toggle="tab" href="#actionsTab">Actions</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#modsTab">Mods</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#settingsTab">Settings</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="actionsTab">
                                    <div class="row">
                                        <div class="col">
                                            <div class="btn-group">
                                                <input id="startGame" type="button" class="btn btn-primary" value="Start game" />
                                                <input id="abortTimer" type="button" class="btn btn-danger" value="Abort timer" /> 
                                            </div>
                
                                            <div class="spacing-5"></div>
                                            
                                            <div class="btn-group">
                                                <input id="unlockSlots" type="button" class="btn btn-primary" value="Unlock slots" />
                                                <input id="lockSlots" type="button" class="btn btn-danger" value="Lock slots" />
                                            </div>
                
                                            <div class="spacing-5"></div>
                
                                            <input id="settings" type="button" class="btn btn-primary" value="Status" />
                                            <input id="clearHost" type="button" class="btn btn-primary" value="Clear host" />
                
                                            <div class="spacing-5"></div>
                                            
                                            <input id="closeLobby" type="button" class="btn btn-danger" value="Close lobby" />
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="modsTab">
                                    <label for="modsDiv">Mods</label>
                                    <div id="modsDiv">
                                        <div class="btn-group">
                                            <input type="button" id="selectModsnone" class="btn btn-primary" value="NoMod" /> <input type="button" id="selectModsfreemod" class="btn btn-primary" value="FreeMod" /> 
                                        </div>
                                        <div class="spacing-5"></div>
                                        <div class="btn-group">
                                            <input type="button" id="selectModshd" class="btn btn-warning" value="Hidden" />
                                        </div>
                                        <div class="spacing-5"></div>
                                        <div class="btn-group">
                                            <input type="button" id="selectModshr" class="btn btn-danger" value="HR" /> <input type="button" id="selectModshr_hd" class="btn btn-danger" value="HR + HD" /> <input type="button" id="selectModshr_freemod" class="btn btn-danger" value="HR + FM" />
                                        </div>
                                        <div class="spacing-5"></div>
                                        <div class="btn-group">
                                            <input type="button" id="selectModsdt" class="btn btn-info" value="DT" /> <input type="button" id="selectModsdt_hd" class="btn btn-info" value="DT + HD" /> <input type="button" id="selectModsdt_freemod" class="btn btn-info" value="DT + FM" />
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="settingsTab">
                                    <div class="row">
                                        <div class="col">
                                            <label for="multiSize">Multiplayer slots</label>
                                            <select id="multiSize" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9`">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                
                                            </select>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col">
                                            <label for="teamMode">Team mode</label>
                                            <select id="teamMode" class="form-control">
                                                <option value="0">Head to head</option>
                                                <option value="1">Tag coop</option>
                                                <option value="2">Team Vs</option>
                                                <option value="3">Tag Team Vs</option>
                                            </select>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col">
                                            <label for="winCondition">Win Condition</label>
                                            <select id="winCondition" class="form-control">
                                                <option value="0">Score</option>
                                                <option value="1">Accuracy</option>
                                                <option value="2">Combo</option>
                                                <option value="3">Score V2</option>
                                            </select>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col">
                                            <input id="changeGameStatus" type="button" class="btn btn-primary float-right" value="Change" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-7">
                            <div class="row">
                                <div class="col">
                                    <div id="managePlayers">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="./resources/js/jquery-3.3.1.min.js"></script>
    <script src="./resources/js/bootstrap.min.js"></script>
    <script>if (window.module) module = window.module;</script>

    <script>
        $(function() {
            var {ipcRenderer, remote} = require('electron');

            ipcRenderer.send('requestErrors', null);

            ipcRenderer.on('receiveErrors', (event, arg) => {
                if(Object.keys(arg).length > 0) {
                    $('.errorHidden').css('display', 'inline');
                    $('#errorCount').html('Errors <span class="importantText">(' + Object.keys(arg).length + ')</span>');
                }
            });

            $('#menu a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            })

            function getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                }
                return(false);
            }

            var teamOneName = '',
                teamTwoName = '';

            var multiID = getQueryVariable('gameid');

            ipcRenderer.on('multiChat#mp_' + multiID, function(event, arg) {
                var finalString = '';

                if(arg[1] == 'BanchoBot') {
                    finalString = arg[0] + ' | <span class="importantText">' + arg[1] + '</span>: ' + arg[2] + '<br>';
                }
                else if(arg[1] == 'ME') {
                    finalString = arg[0] + ' | <span class="clientText">' + arg[1] + '</span>: ' + arg[2] + '<br>';
                }
                else if(arg[1] == 'ERROR') {
                    finalString = arg[0] + ' | <span class="importantText"><b>' + arg[1] + '</b>: ' + arg[2] + '</span><br>';
                }
                else {
                    finalString = arg[0] + ' | <span class="normalText">' + arg[1] + '</span>: ' + arg[2] + '<br>';
                }

                $('.chatArea').append(finalString);

                $('.chatArea').scrollTop($('.chatArea')[0].scrollHeight);
                return false;
            });

            $(document).on('keydown', function(event) {
                if(event.which == 13 && $('#messageToBeSend').is(':focus')) {
                    ipcRenderer.send('sendMessage', [multiID, $('#messageToBeSend').val()]);
                    $('#messageToBeSend').val('');
                } 
            });

            ipcRenderer.send('firstConnection', null);

            ipcRenderer.on('firstConnectionGames', function(event, arg) {
                $.each(arg, function(key, value) {
                    if(key == multiID) {
                        teamOneName = value.teamOneName;
                        teamTwoName = value.teamTwoName;

                        $('#scoreLabelTeamOne').html('Score team ' + teamOneName);
                        $('#scoreLabelTeamTwo').html('Score team ' + teamTwoName);
                        
                        $('#multiSize').val(value.multiSlots);
                        $('#teamMode').val(value.teamMode);
                        $('#winCondition').val(value.winCondition);

                        $('#scoreTeamOne').val(value.scoreTeamOne);
                        $('#scoreTeamTwo').val(value.scoreTeamTwo);
                        
                        $('#currentScoreText').val(value.scoreString);

                        var slots = value.multiplayerSlots;
                        var rows = '';

                        for(var i in slots) {
                            rows += '<tr>' +
                                        '<td>' + i + '</td>' +
                                        '<td>' + slots[i] + '</td>' +
                                        '<td>' +
                                            '<select id="moveUser' + slots[i] + '" class="form-control">' +
                                                '<option></option>' +
                                                '<option value="1">1</option>' +
                                                '<option value="2">2</option>' +
                                                '<option value="3">3</option>' +
                                                '<option value="4">4</option>' +
                                                '<option value="5">5</option>' +
                                                '<option value="6">6</option>' +
                                                '<option value="7">7</option>' +
                                                '<option value="8">8</option>' +
                                                '<option value="9">9</option>' +
                                                '<option value="10">10</option>' +
                                                '<option value="11">11</option>' +
                                                '<option value="12">12</option>' +
                                                '<option value="13">13</option>' +
                                                '<option value="14">14</option>' +
                                                '<option value="15">15</option>' +
                                                '<option value="16">16</option>' +
                                            '</select>' +
                                        '</td>' +
                                        '<td><input type="button" id="hostUser' + slots[i] + '" class="btn btn-info" value="Host player" /></td>' +
                                        '<td><input type="button" id="kickUser' + slots[i] + '" class="btn btn-danger" value="Kick player" /></td>' +
                                    '</tr>';
                        }

                        $('#managePlayers').html(
                            '<table class="table table-dark table-sm table-hover">' +
                                '<thead class="thead-dark">' + 
                                    '<tr><th>Slot</th><th>Player</th><th>Move player to slot</th><th></th><th></th></tr>' + 
                                '</thead>' +

                                '<tbody class="vertical-align-table">' +
                                    rows +
                                '</tbody>' +
                            '</table>'
                        );

                        var messageHistory = value.messageHistory;

                        $.each(messageHistory, function(key, value) {
                            var finalString = '';

                            if(value[1] == 'BanchoBot') {
                                finalString = value[0] + ' | <span class="importantText">' + value[1] + '</span>: ' + value[2] + '<br>';
                            }
                            else if(value[1] == 'ME') {
                                finalString = value[0] + ' | <span class="clientText">' + value[1] + '</span>: ' + value[2] + '<br>';
                            }
                            else {
                                finalString = value[0] + ' | <span class="normalText">' + value[1] + '</span>: ' + value[2] + '<br>';
                            }

                            $('.chatArea').append(finalString);
                        });

                        $('.chatArea').scrollTop($('.chatArea')[0].scrollHeight);
                        return;
                    }
                });
            });

            ipcRenderer.on('multiplayerPlayers' + multiID, function(event, arg) {
                var slots = arg.multiplayerSlots;
                var rows = '';

                for(var i in slots) {
                    rows += '<tr>' +
                                '<td>' + i + '</td>' +
                                '<td>' + slots[i] + '</td>' +
                                '<td>' +
                                    '<select id="moveUser' + slots[i] + '" class="form-control">' +
                                        '<option></option>' +
                                        '<option value="1">1</option>' +
                                        '<option value="2">2</option>' +
                                        '<option value="3">3</option>' +
                                        '<option value="4">4</option>' +
                                        '<option value="5">5</option>' +
                                        '<option value="6">6</option>' +
                                        '<option value="7">7</option>' +
                                        '<option value="8">8</option>' +
                                        '<option value="9">9</option>' +
                                        '<option value="10">10</option>' +
                                        '<option value="11">11</option>' +
                                        '<option value="12">12</option>' +
                                        '<option value="13">13</option>' +
                                        '<option value="14">14</option>' +
                                        '<option value="15">15</option>' +
                                        '<option value="16">16</option>' +
                                    '</select>' +
                                '</td>' +
                                '<td><input type="button" id="hostUser' + slots[i] + '" class="btn btn-info" value="Host player" /></td>' +
                                '<td><input type="button" id="kickUser' + slots[i] + '" class="btn btn-danger" value="Kick player" /></td>' +
                            '</tr>';
                }

                $('#managePlayers').html(
                    '<table class="table table-dark table-sm table-hover">' +
                        '<thead class="thead-dark">' + 
                            '<tr><th>Slot</th><th>Player</th><th>Move player</th><th></th><th></th></tr>' + 
                        '</thead>' +

                        '<tbody>' +
                            rows +
                        '</tbody>' +
                    '</table>'
                );
            });

            $('#sendMessage').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, $('#messageToBeSend').val()]);
            });

            $('#sendCurrentScore').on('click', function() {
                var finalMessage = $('#currentScoreText')   .val()
                                                            .replace('{{teamOneName}}', teamOneName)
                                                            .replace('{{teamTwoName}}', teamTwoName)
                                                            .replace('{{scoreTeamOne}}', $('#scoreTeamOne').val())
                                                            .replace('{{scoreTeamTwo}}', $('#scoreTeamTwo').val());
                ipcRenderer.send('sendMessage', [multiID, finalMessage]);
            });

            $('#changeGameStatus').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, '!mp set ' + $('#teamMode').val() + ' ' + $('#winCondition').val() + ' ' + $('#multiSize').val()]);

                ipcRenderer.send('changeGameStatus', [multiID, $('#teamMode').val(), $('#winCondition').val(), $('#multiSize').val(), $('#scoreTeamOne').val(), $('#scoreTeamTwo').val()]);
            });

            $('#scoreTeamOne, #scoreTeamTwo').on('change', function() {
                ipcRenderer.send('changeGameStatus', [multiID, $('#teamMode').val(), $('#winCondition').val(), $('#multiSize').val(), $('#scoreTeamOne').val(), $('#scoreTeamTwo').val()]);
            });

            $('#currentScoreText').on('change', function() {
                ipcRenderer.send('changeScoreString', [multiID, $('#currentScoreText').val()]);
            });

            $('#startGame').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, '!mp start 10']);
            });
            
            $('#abortTimer').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, '!mp aborttimer']);
            });
        
            $('#unlockSlots').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, '!mp unlock']);
            });

            $('#lockSlots').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, '!mp lock']);
            });

            $('#settings').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, '!mp settings']);
            });

            $('#clearHost').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, '!mp clearhost']);
            });

            $('#closeLobby').on('click', function() {
                ipcRenderer.send('sendMessage', [multiID, '!mp close']);
            });

            $(document).on('click', '[id^=kickUser]', function() {
                var id = this.id.replace('kickUser', '');

                if(id != 'null') {
                    ipcRenderer.send('sendMessage', [multiID, '!mp kick ' + id]);
                }
            });

            $(document).on('click', '[id^=hostUser]', function() {
                var id = this.id.replace('hostUser', '');

                if(id != 'null') {
                    ipcRenderer.send('sendMessage', [multiID, '!mp host ' + id]);
                }
            });

            $(document).on('change', '[id^=moveUser]', function() {
                var id = this.id.replace('moveUser', '');
                var value = this.value;

                if(id != 'null') {
                    ipcRenderer.send('sendMessage', [multiID, '!mp move ' + id + ' ' + value]);
                }
            });

            $(document).on('click', '[id^=selectMods]', function() {
                var mods = this.id.replace('selectMods', '').replace(/_/g , ' ');

                ipcRenderer.send('sendMessage', [multiID, '!mp mods ' + mods]);
            });
        });
    </script>
</html>